@media (max-width: 767px) {
    .hl1, .hl2 {
        min-height: 100vh !important;
        height: unset !important;
    }

    .hl1 {
        padding-top: 30px !important;
        align-items: center;
    }

    .fh {
        height: 30vh !important;
        width: auto;
    }

    .c61 {
        height: unset !important;
        padding-left: 15px !important;
    }

    .c62 {
        height: unset !important;
        justify-content: center;
        display: flex;
        padding-right: 15px !important;
    }

    .mt-50 {
        margin-top: 30px !important;
    }

    .connect {
        width: 100%;
        margin-bottom: 2.5rem;
    }

    .hl2p {
        height: 30vh;
        width: auto;
    }

    .c51 {
        justify-content: center;
        margin-bottom: 30px;
    }

    .formation-ia {
        margin-bottom: 27px !important;
        height: min-content !important;
    }

    .mb-15m {
        margin-bottom: 15px;
    }
}