:root {
    scroll-behavior: smooth;
    --hl-primary: #283643;
    --hl-secondary: #aeb9b9;
}

body {
    font-family: 'Montserrat', 'Roboto', sans-serif !important;
    letter-spacing: 1px;
    color: var(--hl-primary) !important;
}

.mt-50 {
    margin-top: 50px
}

.nomargin {
    margin: 0 !important;
}

.hamb {
    font-size: 30px !important;
    cursor: pointer;
}

#mob-links {
    background: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;
    transition: linear 1s;
}

#mob-links a {
    font-size: larger;
    padding: 10px 0;
    border-bottom: 1px solid var(--hl-secondary);
    width: 100%;
}

#mob-links div {
    padding: 10px 0;
}

#mob-links .dropdown-toggle {
    border: none !important;
}

#nav-mob {
    padding: 10px 0;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    background: none;
    z-index: 9;
}

.nopadding {
    padding: 0 !important;
}

#nav {
    padding: 15px 0;
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    height: 65px;
    z-index: 10;
    background: none;
}

.shadow {
    background: white !important;
    filter: drop-shadow(0px -4px 5px var(--hl-primary));
    transition: linear .08s;
}

.active {
    font-weight: bold;
}

.nav-right {
    min-width: 65%;
    justify-content: space-between;
}

.nav-right a {
    padding-right: 15px;
}

#nav div.container > a {
    background: white;
}

#nav div.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    color: var(--hl-primary) !important;
}

a:hover {
    text-decoration: none !important;
    font-weight: bold;
    transition: ease-in-out .1s;
}

.logonav {
    width: 42px;
    height: 37px;
    padding: 5px;
    border: 1px solid var(--hl-primary);
}

.hl1 {
    padding-top: 64px;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: flex-end;
    background-size: 100% 100%;
}

.c61 {
    height: 100vh;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding-left: 8% !important;
}

.c62 {
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 8% !important;
}

.fh {
    width: auto;
    height: 60vh;
    border: 1px solid var(--hl-primary);
}
canvas{
  filter: blur(1px);
}

.hl2p {
    height: 70vh;
    width: 85%;
    border: 1px solid var(--hl-primary);
    object-fit: cover;
}

.hl2 {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 7% 0;
}

.c51 {
    display: flex;
}

.c71 {
    text-align: justify;
}

.regtext {
    font-weight: 100;
}

.cwhite {
    color: white !important;
}

.hl3 {
    min-height: 100vh;
    background: var(--hl-primary);
    padding-top: 7%;
    padding-bottom: 7%;
}

.hl3 a {
    color: white !important;
}

.formation-i {
    font-size: 65px !important;
    background: white;
    color: var(--hl-primary) !important;
    padding: 23px 17px;
    margin-bottom: 15px;
    border-radius: 50% !important;
}

.formation-ia {
    font-size: 25px !important;
    background: white;
    color: var(--hl-primary) !important;
    padding: 11px 9px 9px 12px;
    text-align: center;
    margin-bottom: 15px;
    border-radius: 50% !important;
    margin-right: 15px;
}

.hla {
    background: var(--hl-primary);
    padding: 7% 0;
}

.about-i {
    font-size: 40px !important;
}

.mb-15 {
    margin-bottom: 15px;
}

.connect {
    width: 60%;
    justify-content: space-between;
}

.connect i {
    font-size: 1.25rem;
}

.hl4 {
    min-height: 100vh;
    padding-top: 7%;
    padding-bottom: 2%;
}

.mb-30 {
    margin-bottom: 30px !important;
    padding: 15px;
}

.mb-30 > div {
    border: 1px solid white;
    padding: 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mb-30 > div:hover {
    box-shadow: 0px 0px 10px white;
}

.mb-30 > div > i {
    font-size: 40px;
}

.nohe {
    min-height: unset !important;
}

.mb3a div {
    border: 1px solid var(--hl-primary);
    cursor: pointer;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.5rem;
}

.mb3a a {
    height: 100%;
}

.mb3a div:hover, .exp {
    box-shadow: 0px 0px 10px var(--hl-primary);
}

.techlist {
    padding-left: 1.25rem;
}

.expleft {
    background: var(--hl-primary);
    color: white !important;
    padding: 1.25rem 1.5rem !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.expright {
    padding: 1.25rem 1.5rem !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
}

.mb-rem {
    margin-bottom: 1.5rem !important;
}