@import "base/baseStyle";

body {
  overflow-x: hidden;
  user-select: none;
}

.no-padding {
  padding: 0;
}

.main {
  display: flex;
  flex-direction: column;
}

.section__ {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;

  &>div {
    width: 100vw;
    min-height: 100vh;
  }

  &cover {
    background: $dark-blue;

    .text-con {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      padding-top: 10vh;

      @include on-mobile {
        align-items: center;
        text-align: center;
      }

      .switch-con {
        display: flex;
        align-items: center;
      }

      .switch {
        margin-left: 30px;
        color: white;
        font-weight: 300;
      }

      a {
        margin: 0;
      }

      span, a {
        color: $white;
        font-family: 'Josefin Sans', sans-serif;
      }

      .salute {
        font-size: 20px;
      }

      .name {
        font-size: 65px;
        font-weight: bold;
        line-height: 1.3;
      }

      .role {
        font-size: 30px;
      }

      .desc {
        font-weight: 300;
        font-size: 18px;
        padding-right: 5vw;
        margin-bottom: 50px;
      }
    }

    .img-con {
      display: flex;
      justify-content: center;
      align-items: flex-end;

      img {
        height: auto;
        width: 85%;
      }
    }
  }

  &about {
    background-color: $medium-blue;

    &>div {
      padding-top: 20vh;

      @include on-mobile {
        padding-top: 5vh;
      }
    }

    span, a, p {
      color: $white;
      font-family: 'Josefin Sans', sans-serif;
    }

    .cv-con {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .cv-text {
      text-align: center;
      font-size: 18px;
      margin-bottom: 5vh;

      @include on-mobile {
        padding: 0 20px;
        text-align: center;
        margin-bottom: 2vh;
      }
    }

    .about-con {
      display: flex;
      flex-direction: column;

      @include on-mobile {
        padding-top: 8vh;
      }
    }

    .about-cont {
      font-weight: 300;
      font-size: 18px;
      padding-right: 10vw;
      margin-bottom: 5vh;

      @include on-mobile {
        padding: 0 20px;
        text-align: center;
        margin-bottom: 2vh;
      }
    }

    .about-title {
      font-size: 30px;
      margin-bottom: 5vh;

      @include on-mobile {
        text-align: center;
        margin-bottom: 2vh;
      }
    }
  }
  
  &services {
    background: $dark-blue;

    .serv-con {
      padding-top: 15vh;
      text-align: center;
      margin-bottom: 5vh;

      @include on-mobile {
        margin-bottom: 2vh;
        padding-top: 11vh;
      }

      .serv-title {
        font-size: 30px;
        color: $white;
        font-family: 'Josefin Sans', sans-serif;

        @include on-mobile {
          margin-bottom: 2vh;
        }
      }
    }

    .serv-row {
      display: flex;
      justify-content: space-between;

      @include on-mobile {
        display: grid;
        justify-content: center;
      }
    }

    .serv-item {
      border: 1px solid $white;
      border-radius: 5px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      color: $white;
      width: 24vw;

      @include on-mobile {
        width: 55vw;
      }

      &:hover {
        background-color: $hovered-orange;
        transition: ease-in-out .3s;
      }

      &:nth-child(1), &:nth-child(2) {
        margin-bottom: 30px;
      }

      i {
        font-size: 35px;
        margin-bottom: 20px;
      }

      span:nth-child(2) {
        text-align: center;
        word-break: break-word;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 20px;
        margin-bottom: 10px;
      }

      span:nth-child(3) {
        word-break: break-word;
        font-family: 'Josefin Sans Light', sans-serif;
        text-align: center;
        font-size: 18px;
      }
    }
  }

  &portfolio {
    background: $medium-blue;

    .portf-con {
      padding-top: 15vh;
      text-align: center;
      margin-bottom: 5vh;

      @include on-mobile {
        padding-top: 11vh;
        margin-bottom: 2vh;
      }

      .portf-title {
        font-size: 30px;
        margin-bottom: 5vh;
        color: $white;
        font-family: 'Josefin Sans', sans-serif;

        @include on-mobile {
          margin-bottom: 2vh;
        }
      }
    }

    .portf-row {
      display: flex;
      justify-content: center;

      @include on-mobile {
        display: grid;
      }
    }

    .portf-item {
      border: 1px solid $white;
      border-radius: 5px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      color: $white;
      width: 17vw;
      cursor: pointer;

      @include on-mobile {
        width: 55vw;
      }

      img {
        width: 70px;
        height: 70px;
        margin-bottom: 10px;
        border-radius: 5px;
      }

      &:hover {
        background-color: $hovered-orange;
        transition: ease-in-out .3s;

        img {
          transition: ease-in-out .3s;
          filter: hue-rotate(171deg);
        }
      }

      &:nth-child(1), &:nth-child(2), &:nth-child(3) {
        margin-bottom: 30px;
      }

      &:nth-child(1) {
        margin-right: 20px;
      }

      &:nth-child(3) {
        margin-left: 20px;

        @include on-mobile {
          margin-left: 0;
        }
      }

      span:nth-child(2) {
        text-align: center;
        word-break: break-word;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 20px;
        margin-bottom: 10px;
      }

      span:nth-child(3) {
        word-break: break-word;
        font-family: 'Josefin Sans Light', sans-serif;
        text-align: center;
        font-size: 18px;
      }
    }
  }

  &contact {
    min-width: 100vw;
    display: flex;
    justify-content: center;
    background: $dark-blue;

    .contact-con {
      padding-top: 15vh;
      text-align: center;
      margin-bottom: 5vh;

      @include on-mobile {
        padding-top: 11vh;
      }
    }

    .contact-title {
      font-size: 30px;
      color: $white;
      font-family: 'Josefin Sans', sans-serif;

      @include on-mobile {
        margin-bottom: 2vh;
      }
    }

    .contact-row {
      margin-bottom: 20vh;
      display: flex;
      justify-content: space-between;

      @include on-mobile {
        display: grid;
        justify-content: center;
      }
    }

    .contact-item {
      border: 1px solid $white;
      border-radius: 5px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      color: $white;
      width: 24vw;

      @include on-mobile {
        width: 55vw;
      }

      &:hover {
        background-color: $hovered-orange;
        transition: ease-in-out .3s;
      }

      &:nth-child(1), &:nth-child(2) {
        margin-bottom: 30px;
      }

      i {
        font-size: 35px;
        margin-bottom: 20px;
      }

      span:nth-child(2) {
        text-align: center;
        word-break: keep-all;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 20px;
        margin-bottom: 10px;
      }

      span:nth-child(3) {
        word-break: keep-all;
        font-family: 'Josefin Sans Light', sans-serif;
        text-align: center;
        font-size: 18px;
      }
    }
  }

  &footer {
    background: $medium-blue;
    padding: 15px;
    display: flex;
    justify-content: center;

    span {
      text-align: center;
      width: 100%;
      font-size: 18px;
      color: $white;
      font-family: 'Josefin Sans Light', sans-serif;
    }
  }
}

.container {
  @include on-mobile {
    padding-bottom: 5vh;
  }
}