$dark-blue: #2c6488;
$medium-blue: #1e4964;
$orange: #bd4a0d;
//$orange: #1E1E56;
$hovered-orange: rgba(173, 68, 12, 0.93);
$white: #ffffff;
$hovered-white: rgba(255, 255, 255, 0.81);
$black: #000;

@mixin on-mobile {
  @media (max-width: 1024px) {
    @content;
  }
}